In [ ]:
a=123
b=print(a)
print(b)
b=4
#definition : 뜻, 정의
def plus(a,b):
  result = a+b
  return result

result=plus(a,b)
print(result)

123
None
127

In [ ]:
a = 'apple'
print(a)
# i like 'python'
# '' . ""
sentence='i like "python"'
print(sentence)
sentence='i like /'python/''
print(sentence)
# she says, 'i like python'
sentence="she says, 'i like python '"
print(sentence)

SyntaxError: ignored

In [ ]:
a="orange"
b="is sweet!"
#length : 길이=> len
# 1.len (orange) : 6
# 2.print(6)
print(len(a))

6

In [ ]:
#문자(글자) ==> 합:문자열
sentence="Life is too fun."
# 인덱싱 index (가리킨다)
#print(a[-4])
b = a[0]+a[1]+a[2]+a[3]
#print(b)

# 슬라이싱 slicing : (자르기) : 범위 (시작점/끝점)
a= a[0:4]
#print(a)
a=a[:4]
#print(a)
a=sentence[-4:]
print(a)

IndexError: ignored

In [ ]:
# 리스트 list
a=3
b=2
c=5

a2=3.4
a3='a'
a4='apple'

data = [3,2,5]
print(data)
print(data[:-3])

data1=[4,5,6]
print(data+data1)

#data1 = 8
data1[1] = 8
print(data1)

#delete => del
del data1[0]
print(data1)

#append: 추가하다 . 
data1.append(10)
print(data1)

data = [1,4,2,9]
data.sort()
print(data)
data.reverse()
print(data)

data=[4,8]
# insert : 삽입하다. 위치에 넣다.
data.insert(1,10)
print(data)
data.append(8)
print(data)
data.remove(8)
print(data)

[3, 2, 5]
[]
[3, 2, 5, 4, 5, 6]
[4, 8, 6]
[8, 6]
[8, 6, 10]
[1, 2, 4, 9]
[9, 4, 2, 1]
[4, 10, 8]
[4, 10, 8, 8]
[4, 10, 8]

In [ ]:
#list [1,2,3]: 값 수정, 삭제, 추가 가능
#tuple (1,2,3): 값 수정, 삭제, 추가 불가능

t1= (1,2,3)
#del t1[0]
#t1[0] = 5
print(t1[1:])
print(t1[0])

(2, 3)
1

In [ ]:
# dictionary : 사전, (word : meaning)// {}
grade = {'jian':98, 'mk':95}
print(grade['jian'])
print(grade['mk'])
print(grade.keys())
print(grade.values())
grade.clear()
print(grade)

98
95
dict_keys(['jian', 'mk'])
dict_values([98, 95])
{}

In [39]:

import numpy as np
# export : 수출 하다. // im/in :/ import : 가져오다.
#number + py : numpy (수학/과학 계산)
#library : 도서관 
#as : ~로 /(별명)

# list [a,b,c,d]
# array: 배열 (1,2,3,4)

a=np.array([1,2,3,4])
print(type(a))
print(len(a))
#classname.함수()
#np.array()

a=[1,2,3]
b=[-1,-2,-3]
c= []

for i,j in zip(a,b):
  c.append(a+b)
#print(c)

#datatype=dtype
b=np.array([0.1,0.2,0.3])
print(b.dtype)
print(type(b[0]))

#astype = as :~ 로, 
c = np.array([1.1,1.2,1.3])
print(c.dtype)
d=c.astype(np.int64)
print(d)

A= np.array([[1,2,3],[4,5,6]])
#dimension: 차원
print(A.ndim)
#shape: 모양, 형태
print(A.shape)
#size: 갯수
print(A.size)
print(A.dtype)

b=np.array([1,2,3,4])
# max : 가장 큰 값
print(b.max())
#min : minimun : 작은 값
print(b.min())
#sum: 합하다.add all.
print(b.sum())
#mean: 평균
print(b.mean())

c=np.array([[1,2],[3,4]])
#축: axis
print(c.sum(axis=0))
print(c.sum(axis=1))

<class 'numpy.ndarray'>
4
float64
<class 'numpy.float64'>
float64
[1 1 1]
2
(2, 3)
6
int64
4
1
10
2.5
[4 6]
[3 7]

In [10]:

mclass Calculator:
  def __init__ (self):
    self.result = 0
  def add(self,num):
    self.result += num
    return self.result
  
  def minus(self, num):
    self.result -=num
    return self.result
    
  
jian = Calculator()
print(jian.result)
mk=Calculator()
print(mk.result)

print(jian.add(3))
print(mk.add(1))

print(jian.minus(2))
print(mk.minus(1))

0
0
3
1
1
0

In [14]:
for i in [1,2,3]:
  print(i+3)

a[1,2,3]
a.append(9)
print(a)
a.remove(3)

4
5
6